{"db":0,"key":"name1","ttl":-1,"type":"string","value":"Bob","size":3}
{"db":0,"key":"name","ttl":-1,"type":"string","value":"Bob","size":3}
{"db":0,"key":"name3","ttl":-1,"type":"string","value":"Bob","size":3}
{"db":0,"key":"name2","ttl":-1,"type":"string","value":"Bob","size":3}
